## Docker
## ======

SL_VERSION=v4.70.0
SL_IMAGE=app-ci

## Postgres Database
## =================

POSTGRES_DB=simplelogin

POSTGRES_USER=paste-user-here
POSTGRES_PASSWORD=paste-password-here

## Postfix
## =======

## Obtain this key here: https://www.spamhaus.com/free-trial/sign-up-for-a-free-data-query-service-account/
## Why? https://check.spamhaus.org/returnc/pub
#SPAMHAUS_DQS_KEY=

## SimpleLogin App
## ===============

## domain used to create alias
DOMAIN=paste-domain-here
SUBDOMAIN=app

EMAIL_DOMAIN=$DOMAIN

## WebApp URL
URL=https://$SUBDOMAIN.$DOMAIN

## transactional email is sent from this email address
SUPPORT_EMAIL=support@$DOMAIN

## custom domain needs to point to these MX servers
EMAIL_SERVERS_WITH_PRIORITY=[(10, "$SUBDOMAIN.$EMAIL_DOMAIN.")]

## By default, new aliases must end with ".{random_word}". This is to avoid a person taking all "nice" aliases.
## In self-hosted, you typically trust all users. Set this variable to disable this option.
DISABLE_ALIAS_SUFFIX=1

## the DKIM private key used to compute DKIM-Signature
DKIM_PRIVATE_KEY_PATH=/dkim.key

## DB Connection
DB_URI=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@sl-db:5432/$POSTGRES_DB

FLASK_SECRET=paste-flask-secret-here

GNUPGHOME=/sl/pgp

LOCAL_FILE_UPLOAD=1

POSTFIX_SERVER=postfix

# DISABLE_REGISTRATION=1
# DISABLE_ONBOARDING=true

## Traefik
## =======

## E-Mail used for Letsencrypt registration
LE_EMAIL=$SUPPORT_EMAIL

## Set requested ACME CHALLENGE to one of [ "tls", "dns" ]
## see https://letsencrypt.org/docs/challenge-types/
## 1) "tls" (-ALPN) is default and works out of the box - but cannot request wildcard certificates
## 2) "dns" can request wildcard certificates, 
##    but needs additional configuration depending on your DNS registrar
LE_CHALLENGE=tls

## If you use LE_CHALLENGE=dns, you have to define your DNS provider here
## see https://go-acme.github.io/lego/dns/ which "Code" identifies your provider
# LE_DNS_PROVIDER=cloudflare

## Depending on your DNS Provider, you have to set additional ENV vars

## Cloudflare, see: https://go-acme.github.io/lego/dns/cloudflare/index.html#api-tokens
# CF_DNS_API_TOKEN=paste-cloudflare-api-token-here

## Azure DNS, see: https://go-acme.github.io/lego/dns/azuredns/index.html
# AZURE_CLIENT_ID=<your service principal client ID>
# AZURE_TENANT_ID=<your service principal tenant ID>
# AZURE_CLIENT_SECRET=<your service principal client secret>

## IONOS
# IONOS_API_KEY=<your ionos API key>
