.env

db/
pgp/
upload/

dkim.pub.key
dkim.key

acme.sh/conf.d/
acme.sh/www/.well-known/mta-sts.txt
acme.sh/www/.well-known/acme-challenge/*
nginx/conf.d/default.conf
nginx/conf.d/nginx
postfix/conf.d/aliases.lmdb
postfix/conf.d/main.cf
postfix/conf.d/pgsql-relay-domains.cf
postfix/conf.d/pgsql-transport-maps.cf
postfix/conf.d/virtual
postfix/conf.d/virtual.lmdb
postfix/conf.d/virtual-regexp
