# If there is already a traefik container running on your host, you can comment out the first include line.
# But make sure that...
# - container `sl-app` can join traefiks network, defined in traefic static config `providers.docker.network`
# - container `traefik-certificate-exporter` can access traefiks acme-storage

include:
  - traefik-compose.yaml
  - simple-login-compose.yaml
  - postfix-compose.yaml

networks:
  internal:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1
## uncomment the following lines, if traefik is already running (outside of this project)
#  traefik:           # <-- do not change this (identifier used inside this project)
#    external: true
#    name: traefik    # <-- change this to the name of your (external) traefik network
