x-logging: &default-logging
  driver: json-file
  options:
    max-size: '2m'
    max-file: '5'
    mode: non-blocking

services:
  reverse-proxy:
    image: traefik:${TRAEFIK_VERSION:-latest}
    container_name: traefik
    restart: ${RESTART_POLICY:-unless-stopped}
    logging: *default-logging
    command:
      # - --log.level=DEBUG
      - --accesslog=true
      - --ping=true
      # - --metrics.prometheus=true
      - --global.sendanonymoususage=false
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=traefik
      - --providers.file.directory=/etc/traefik/middlewares
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.middlewares=hsts@file
      - --entrypoints.websecure.http.tls.certresolver=${LE_CHALLENGE:-tls}
      - --certificatesresolvers.tls.acme.storage=/etc/traefik/acme/acme-tls.json
      - --certificatesresolvers.tls.acme.email=${LE_EMAIL:-${SUPPORT_EMAIL:-support@${DOMAIN}}}
      ## uncomment for LE-STAGING server, to avoid exceeding LetsEncrypt quota when fiddling with a new configuration
      #- --certificatesresolvers.tls.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.tls.acme.tlschallenge=true
      - --certificatesresolvers.dns.acme.storage=/etc/traefik/acme/acme-dns.json
      - --certificatesresolvers.dns.acme.email=${LE_EMAIL:-${SUPPORT_EMAIL:-support@${DOMAIN}}}
      ## uncomment for LE-STAGING server, to avoid exceeding LetsEncrypt quota when fiddling with a new configuration
      #- --certificatesresolvers.dns.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.dns.acme.dnschallenge=true
      - --certificatesresolvers.dns.acme.dnschallenge.provider=${LE_DNS_PROVIDER}
      ## load plugin to support static response on "mta-sts" subdomain
      - --experimental.plugins.staticresponse.moduleName=github.com/jdel/staticresponse
      - --experimental.plugins.staticresponse.version=v0.0.1
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    networks:
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-acme:/etc/traefik/acme
      - ./traefik/middlewares/:/etc/traefik/middlewares/:ro
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]

volumes:
  traefik-acme:
    name: traefik-acme

networks:
  traefik:
    name: traefik
    driver: bridge
