x-logging: &default-logging
  driver: json-file
  options:
    max-size: '2m'
    max-file: '5'
    mode: non-blocking

services:
  reverse-proxy:
    image: traefik:${TRAEFIK_VERSION:-latest}
    restart: ${RESTART_POLICY:-unless-stopped}
    logging: *default-logging
    command:
      # - --log.level=DEBUG
      - --accesslog=true
      - --ping=true
      # - --metrics.prometheus=true
      - --global.sendanonymoususage=false
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=traefik
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certresolver=leresolver
      - --certificatesresolvers.leresolver.acme.email=${LE_EMAIL:-${SUPPORT_EMAIL:-support@${DOMAIN}}}
      - --certificatesresolvers.leresolver.acme.storage=/etc/traefik/acme/acme.json
      - --certificatesresolvers.leresolver.acme.tlschallenge=true
      - --experimental.plugins.staticresponse.moduleName=github.com/jdel/staticresponse
      - --experimental.plugins.staticresponse.version=v0.0.1
    ports:
      - "80:80"
      - "443:443"
    networks:
      - traefik
    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro
      - traefik-acme:/etc/traefik/acme
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]

volumes:
  traefik-acme:
    name: traefik-acme

networks:
  traefik:
    driver: bridge